@model IEnumerable<bancaVi.Models.cuenta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.nombre_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saldo_cuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.nombre_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldo_cuenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cuenta_cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cuenta_cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cuenta_cliente })
        </td>
    </tr>
}

</table>
