@model bancaVi.ViewModels.Access.AccessViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            @using (Html.BeginForm("Index", "Access", FormMethod.Post))
            {

            <div class="col-sm-4 col-sm-offset-4">
                @if (@ViewBag.sms != null)
                {
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Alerta!</h4>
                        <p>@ViewBag.sms<p>
                    </div>
                }

                <div class="row">
                    Correo
                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", required = "required"} })
                </div>
                <div class="row">
                    Password
                    @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control", required = "required", type = "password" } })
                </div>
                <div class="row center-block">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-success" value="Entrar" />
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success" href="~/Access/Create">Registrar</a>
                    </div>
                </div>

                @if (Model.Error)
                {
                    <div class="row">
                        <p class="bg-danger">@Model.Mensaje</p>
                    </div>
                }
            </div>



            }
        </div>
    </div>
</div>
